<div class="row">
    <div class="col-md-3">
        <div class="card bg-warning text-white" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Kullanýcýlar</h5>
                <h6 class="card-subtitle mb-2">Sayýsý</h6>
                <h3 class="text-center display-3">
                    @await Component.InvokeAsync("UserSummary")
                </h3>
                <a asp-controller="User" asp-action="Index" class="card-link text-white">Kullanýcýlar</a>
                <a asp-controller="User" asp-action="Create" class="card-link text-white">Yeni Kullanýcý Ekle</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-danger text-white" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Roller</h5>
                <h6 class="card-subtitle mb-2">Sayýsý</h6>
                <h3 class="text-center display-3">
                    @await Component.InvokeAsync("RoleSummary")
                </h3>
                <a asp-controller="Role" asp-action="Index" class="card-link text-white">Roller</a>
            </div>
        </div>
    </div>
</div>