<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz</h1>
    <p>ASP.NET Core ile Web uygulamaları oluşturma<a href="https://docs.microsoft.com/aspnet/core"> Hakkında bilgi edinin</a>.</p>
</div>
